@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

body{
	margin: 0;
	color: black;
	background-color: white;
	width: 100%;
	heigth: 100%;
	font-family: "Shadows Into Light Two";
}

header{
	text-align: left;
	padding: 0px;
}

footer{
	float: right;
}
		
*{
	font-family: "Shadows Into Light Two";
	box-sizing: border-box;
}

h1{
	text-align: center;
	background-color: #FFDAB9;
}
		
h3{
	text-align: center;
	background-color: beige;
}	

h5{
	text-align: right;
	position: relative;
	right: 10px;
	bottom: -15px;
}

.column1 {
	float: left;
	width: 50%;
	position: relative;
	right: -25px; 
 	text-align: center;
	
}

.column2{
	float: left;
	width: 50%;
	position: relative;
	left: -25px;
 	text-align: center;
}

section{
	width: 100%;
	height: auto;
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 80px;
	grid-auto-flow: column;
}

ul.col{
	list-style-type: none;
}

label{
	color: black;
	font-weight: bold;
	text-align: center;
	position: relative;
	left: 50px;
}

.button{
	padding-top: 30px; 
	position: relative;
	left: 33px;
	top: 5px;
	background-color: #4CAF50;
	border: none;
	color: black;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
}

.column1 #username{
	width: 200px;
	height: 30px;
}

.column1 #email{
	width: 200px;
	height: 30px;
}

.column1 #pwd{
	width: 200px;
	height: 30px;
}

.column2 #address{
	width: 200px;
	height: 30px;
}

.column2 #pcode{
	width: 200px;
	height: 30px;
}


/*---------------Responsive CSS----------------*/

@media screen and (max-width: 800px){
	section{
		width: 90%;
	}
}

@media screen and (max-width: 600px){
	ul.col a, ul.col li.right, ul.col li {
		float: none;
		width: 100%;
		text-align: center;
	}
}
