@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

body{
	margin: 0;
	color: black;
	background-color: #8FBC8F;
	width: 100%;
	height: 100%;
}

.logo img{
	float: left;
	position: relative;
	bottom: -15px;
	width: 130px;
	height: auto;
	padding-left: 5px;
  	display: inline-block;
}
		
*{
	font-family: "Shadows Into Light Two";
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 40px;
	background-color: #FFDAB9;
}

h3{
	text-align: right;
	position: relative;
	right: 20px;
}
		
.column img{
	border: 6px outset #FFDAB9;
	width: 200px;
	height: auto;
	max-width: 100%;
}


/*-------------Layout Styles--------------*/
.header{
	text-align: left;
	padding: 0px;
	align-content: center;
}

.column{
	float: left;
	width: 33%;
	padding: 15px;
 	text-align: center;
}

footer{
	float: right;
}
		
/*-------------Product Name-------------------*/

.column a{
	display: inline;
	color: antiquewhite;
	text-align: center;
	text-decoration: none;
}

.column a:hover:not(.active) {
	background-color: green;
}

.column a.active {
	background-color: green;
}
	
/*-------------Responsive CSS-----------------*/

/* For the columns*/
@media screen and (max-width: 800px){
	.column{
		width: 50%;
	}
}


@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
}
