@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");


body{
    background-color: white;
}

*{
    box-sizing: border-box;
	font-family: "Shadows Into Light Two";
}

.flex-container{
    display:flex;
    flex-direction:row;
}

.flex-item-left{
    margin: 30px;
    border-style: groove;
    background-color: ghostwhite;
    border-radius: 7px;
    padding: 10px;
    flex:55%;
}

.flex-item-right{
    height:30%;
    margin: 30px;
    border-style: groove;
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 7px;
    flex:40%;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.inputnum{
    background-color: lavender;
    font-family: "Shadows Into Light Two";
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

.button {
    border-style: outset;
    font-family: "Shadows Into Light Two";
    background-color: lavender;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

.place-order {
    font-family: "Shadows Into Light Two";
 	background-color: #8FBC8F;
    border-radius: 7px;
    margin: auto;
    display: flex;
    display: grid;
    padding: 3% 20%;
    font-size: 20px;
    cursor: pointer;
}

.continue_shopping {
    font-family: "Shadows Into Light Two";
   	background-color: #8FBC8F;
    border-radius: 7px;
    margin: auto;
    display: flex;
    display: grid;
	padding: 3% 20%;
    font-size: 20px;
    cursor: pointer;
}


/* header {
	width: 100%;
	height: 80px;
	background-color: white;
	text-align: center;
	padding: 10px;
	align-content: center;
} */

.header{
	text-align: left;
	padding: 0px;
	align-content: center;
}

h1{
    margin-left: 20px;
}
h2{
    margin-left: 20px;
    color: crimson;
}
p{
    margin-left: 20px;
}

span.price-right{
    float: right;
    margin-right: 20px;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
}
hr{
    width: 95%;
    text-align: center;
}
span.blue{
    color: blue;
}

