@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

body{
    background-color: white;
}

*{
	
	font-family: "Shadows Into Light Two";
}

.flex-container{
    display:flex;
    margin: 30px;
    border-style: groove;
    background-color: ghostwhite;
    border-radius: 7px;
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    width: 1180px;
/*    overflow-x: auto;*/
/*    display: flex;*/
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    height: 70px;
}

img{
    display: flex;
    width: 100px;
    height: auto;
}

.button {
    display: table-row;
    background-color: #8FBC8F;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px;
    border: none;
}

/* Darker background on mouse-over */
.button:hover {
    background-color: forestgreen;
}
