@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light Two";
  text-transform: capitalize;
  text-decoration: none;
}

body, html{
  height: 100vh;
/*   max-width:100%; */  
/*   height: auto; */
  margin:0;
/*   background-attachment: fixed; */
}

.bg {
  background-image: url("../Images/Banner.png");
  height: 100%; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: green;
  padding-top: 20px 7%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 25px;
  padding: 20px 70px;

  color: black;
  display: block;
}

header .navbar ul li a:hover {
  background: black;
  color: white;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: rgb(179, 209, 181);
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid black;
}

header .navbar ul li:hover > ul {
  display: initial;
}

#menu {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

@media (max-width: 500px) {
  header {
/*     padding: 20px; */
    float: none;
    display: block;
    text-align: left;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid black;
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: rgb(179, 209, 181);
  }

  #menu:checked ~ .navbar {
    display: initial;
  }
}

footer {
  height: 5vh;
  bottom: 0;
  position: relative;
  background-color: rgb(216, 199, 199);
  width: 100%;
  color: black;
  font-size: small;
}

 .btnAdmin {
  font-size: 12px;
  font-weight: bold;
  background: green;
  width: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  right: 100px;
}

}

/* @media only screen and (max-width:970px) {
  .bg {
  height: auto; 
  max-width:auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }
} */
