@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light Two";
  text-transform: capitalize;
  text-decoration: none;
}

body{
  min-height: 100vh;
  background-size: contain;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: green;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 25px;
  padding: 20px 70px;

  color: black;
  display: block;
}

header .navbar ul li a:hover {
  background: black;
  color: white;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: rgb(179, 209, 181);
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid black;
}

header .navbar ul li:hover > ul {
  display: initial;
}

#menu {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid black;
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: rgb(179, 209, 181);
  }

  #menu:checked ~ .navbar {
    display: initial;
  }
}

footer {
  height: 5vh;
  bottom: 0;
  position: absolute;
  background-color: rgb(216, 199, 199);
  width: 100%;
  color: black;
  font-size: small;
}
