@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light Two";
}
body {
  background-color: rgb(217, 245, 233);
  font-family: sans-serif;
}

.container {
  padding: 0 30%;
  margin: 40px auto 0;
}

.heading {
  font-size: 50px;
  text-align: center;
  color: green;
  margin-bottom: 40px;
  font-weight: 1000;
}

.table {
  width: 100%;
}

.btn1 {
  color: rgb(97, 184, 255);
}

.btn2 {
  color: rgb(238, 51, 51);
}
.btn3 {
  font-size: 12px;
  font-weight: bold;
  background: green;
  width: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
