@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap);

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light Two";
/*  text-transform: capitalize !important;*/
  text-decoration: none;
}

:root {
  --after-content: "2";
}

body {
  height: 100vh;
  /*   max-width:100%; */
  /*   height: auto; */
  margin: 0;
  /*   background-attachment: fixed; */
  font-family: "Shadows Into Light Two";
  background-image: url("../Images/beige.png");
}

.logo {
  	 
   /* 	 position:absolute; */
  background-image: url("../Images/Transparentlogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height: 400px;
/*   float: center; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;

 
}

header {
  font-family: "Shadows Into Light Two";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:10vh; 
  background: green;
  padding-top: 20px 7%;
  display: flex;
  align-items: center;
  /*   justify-content: space-between; */
  justify-content: space-around;
  z-index: 10;
  /*   z-index: 1000; */
  /*    */
  width: 100%;
  /*   position: absolute; */
  /*   padding: 15px 100px; */
}

a {
  text-decoration: none;
  font-family: "Shadows Into Light Two";
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
  list-style: none;
  /*    */
  margin: 0 10px;
}

header .navbar ul li a {
  float: left;
  font-size: 25px;
  padding: 20px 70px;
  list-style: none;
  color: black;
  display: block;
}

header .navbar ul li a:hover {
  background: black;
  color: white;
  list-style: none;
  text-decoration: none;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(179, 209, 181);
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid black;
}

header .navbar ul li:hover > ul {
  display: block;
  list-style: none;
  text-decoration: none;
    outline:inherit;
}

header .navbar .navbar-right {
  float: right;
  position: absolute;
  right: 40px;
}

#menu {
  display: none;
}

header label {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

h1{
		width: 3%;
	    position: relative;
	    top: 0px;
	    left: 0%;
	    cursor: pointer;
	}
	h1:before{
		content: attr(data-count);
	    color: white;
	    position: absolute;
	    right: 16px;
	    font-size: 15px;
	    text-align: center;
	    top: -12px;
	    width: 20px;
	    height: 20px;
	    background: red;
	    border-radius: 50%;
	    opacity: 0;
	}
	h1.zero:before{
		opacity: 1;
	}



@media (max-width: 1181px) {
  header {
    /*     padding: 20px; */
    float: none;
    display: block;
    text-align: left;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid black;
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: rgb(179, 209, 181);
  }

  #menu:checked ~ .navbar {
    display: initial;
  }
}

footer {
  height: 5vh;
  bottom: 0;
  position: fixed;
  background-color: rgb(216, 199, 199);
  width: 100%;
  color: black;
  font-size: small;
}

footer h2{
  margin-top:0px;
}

.btnAdmin {
  font-size: 20px;
  font-weight: bold;
  background: green;
  width: 150px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  /*   left: 1250px; */
  bottom: 0px;
  right: 0px;
  height: 5vh;
}

@media screen and (max-width:639px) { 
  .logo {
  background-image: url("../Images/Transparentlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 100%;
  max-width: 100%;
/*   float: center; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
}


@media screen and (min-width: 500px) and (max-width: 940px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
  }
  header .navbar ul li {
    position: relative;
    float: left;
    list-style: none;
    margin-top: none;
  }
}
