@charset "utf-8";

body{
	margin: 0;
	color: black;
	background-color: rgb(0,128,0);
	width: 100%;
	heigth: 100%;
	font: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}

.header{
	text-align: left;
	padding: 0px;
}
		
*{
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	box-sizing: border-box;
}

h1{
	text-align: center;
	background-color: #FFA07A;
}
		
h2{
	text-align: center;
	background-color: #FFDAB9;
}	
		
img{
	border: 6px outset antiquewhite;
	width: 200px;
	height: auto;
	max-width: 100%;
}

/*-------------Layout Styles--------------*/
.navbar{
	text-align: center;
	background-color: antiquewhite;
}	
		
.column{
	float: left;
	width: 33%;
	padding: 15px;
 	text-align: center;
}
		
.row{
	float: left;
	width: 100%;
	padding: 20px;
}
		
/*-------------Navigation Bar-------------*/	

ul.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: antiquewhite;
}

ul.nav li {
	float: left;
}

ul.nav li a {
	display: block;
	color: black;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	text-decoration: none;
	
}

ul.nav li a:hover:not(.active) {
	background-color: lightsalmon;
}

ul.nav li a.active {
	background-color: lightcoral;
}

ul.nav li.right {
	float: left;
}


/*-------------Product Name-------------------*/

.column a{
	display: inline;
	color: antiquewhite;
	text-align: center;
	text-decoration: none;
}

.column a:hover:not(.active) {
	background-color: lightsalmon;
}

.column a.active {
	background-color: lightcoral;
}
	
/*-------------Responsive CSS-----------------*/

/*For navigation bar*/

@media screen and (max-width: 600px){
	.navbar a, ul.nav li.right, ul.nav li {
		float: none;
		width: 100%;
		text-align: center;
	}
}

/* For the columns*/
@media screen and (max-width: 800px){
	.column{
		width: 50%;
	}
}


@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
}

