.con {
    display: inline-flex;
    padding: 5px;
    background-color: #f8f8f8;
/*     padding-Left: 20px; */
    width: 300px;
    border-radius: 3%;
/*     margin-left: -30px; */
}

.con1 {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    border: 2px solid lightgray;
    display: inline-flex;
}

.con:hover:nth-child(1) {
    box-shadow: 10px 10px 10 px #f8f8f84d;
    margin-left: -15px;
}

.userimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.innercon {
    width: 10px;
    height: 10px;
    background-color: seagreen;
    margin-top: 72px;
    margin-left: -20px;
    border-radius: 50%;
}

.sidebox {
    margin-top: -5px;
    display: inline-block;
    padding-top: 15px;
    width: 250px;
}

.spanstyle {
    text-align: left;
    font-size: 18px;
    font-weight: 1;
    text-align: left;
    margin-left: -115px;
    font-family: "Shadows Into Light Two";
}

.spanstyle2 {
    font-size: 15px;
    margin-left: 12px;
    float: left;
    margin-top: 10px;
    color: green;
    font-family: "Shadows Into Light Two";
} 

.adduser {
    margin-left: 10px;
    width: 300px;
}

body {
    margin-top: 400px !important;
    background-color: rgb(217, 245, 233);
}

* {
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: green;
    color: white;
    padding: 5px 8px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 4px;
}

button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;

}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: green;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
   background-color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    max-width: 94%;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
   body {
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
}
